<div class="hero">
  <%= image_tag 'topImage.png', class: "animate-text-focus-in" %>
</div>

<div class="hero min-h-screen bg-header text-white">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag 'icon.png', class: "max-w-sm rounded-lg shadow-2xl",  size: "200x200" %>
    <div>
      <h1 class="text-3xl md:text-5xl font-zen-old-mincho">集まった謎を見に行こう</h1>
      <p class="py-4"> いろんな方が作成した謎がたくさん集まっています。 </p>
      <p class="py-4"> お気に入りの謎を見つけてみよう </p>
      <p class="py-4"> 謎に正解した人数が表示されているので、解けそうな問題に解答してみよう </p>
      <img src="https://i.gyazo.com/6474427153c85cc18c3e8e213b4ed834.gif", width="600">
      <%= link_to mysteries_path do %>
        <button class="btn bg-buttonColor text-white my-3">謎を見に行く</button>
      <% end %>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-header text-white">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag 'icon.png', class: "max-w-sm rounded-lg shadow-2xl", size: "200x200" %>
    <div>
      <h1 class="text-3xl md:text-5xl font-bold font-zen-old-mincho">自作の謎を作ってみよう</h1>
      <p class="py-2"> 初めて作る方でも、「ジャンルと答え」だけでAIで簡単に作成ができます。</p>
      <p class="py-2"> AIが謎を作成中、問題が表示されるので、待っている間に挑戦してみよう</p>
      <p class="py-2"> ※自作の謎を画像で投稿することもできます </p>
      <div class="badge badge-warning gap-2 my-3">
        ※作成・投稿にはログインが必要です
      </div>
      <img src="https://i.gyazo.com/dc60fba4cf18a1688aced92075f69911.gif", width="600">
      <% unless logged_in? %>
        <div class = "flex flex-items-center">
          <%# 未ログイン時の謎を作ってみるボタン追加 (新規登録に遷移) %>
          <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
            <button class="btn bg-buttonColor text-white my-3">謎を作ってみる</br>(ゲストログイン)</button>
          <% end %>
          <%= link_to auth_at_provider_path(provider: :google), class: 'text-center mx-2 my-5 mb-5' do %>
            <%= image_tag 'google_signin.png', class: 'mx-auto hover:opacity-50' %>
          <% end %>
        </div>
      <% else %>
        <%= link_to new_mystery_path do %>
          <button class="btn bg-buttonColor text-white my-3">謎を作ってみる</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-header text-white">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag 'icon.png', size: "200x200" %>
    <div>
      <h1 class="text-3xl md:text-5xl font-bold text-zen-old-mincho">謎に回答してみよう</h1>
      <p class="py-2"> 正解だと思う謎を書いてね！ 正解すると謎ポイントがもらえます！</p>
      <p class="py-2"> ポイントの獲得数に応じてユーザーランキングが決まるよ </p>
      <p class="py-2 font-bold"> ※ゲストユーザーはポイントがたまりません </p>
      <div class="badge badge-warning gap-2 my-3">
        ※作成・投稿にはログインが必要です
      </div>
      <img src="https://i.gyazo.com/9d0917bbb3ccb845625974bfac569031.gif", width="500">
      <% unless logged_in? %>
        <div class = "flex flex-items-center">
          <%# 未ログイン時の謎を作ってみるボタン追加 (新規登録に遷移) %>
          <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
            <button class="btn bg-buttonColor text-white my-3">謎に回答してみる</br>(ゲストログイン)</button>
          <% end %>
          <%= link_to auth_at_provider_path(provider: :google), class: 'text-center mx-2 my-5 mb-5' do %>
            <%= image_tag 'google_signin.png', class: 'mx-auto hover:opacity-50' %>
          <% end %>
        </div>
      <% else %>
        <%= link_to new_mystery_path do %>
          <button class="btn bg-buttonColor text-white my-3">謎に回答する</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="hero min-h-screen" style="background-image: url( <%= asset_path 'topImage.png' %> );">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold font-zen-old-mincho">謎解きを体験しよう</h1>
        <% unless logged_in? %>
          <%= link_to auth_at_provider_path(provider: :google), class: 'text-center mx-auto my-5 mb-5' do %>
            <%= image_tag 'google_signin.png', class: 'mx-auto hover:opacity-50' %>
          <% end %>
          <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
            <button class="btn bg-buttonColor text-white my-6">ゲストログイン</button>
          <% end %>
        <% else %>
          <%= link_to mysteries_path do %>
            <button class="btn bg-buttonColor text-white my-6">謎を見に行く</button>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
