<div class="hero">
  <%= image_tag 'topImage.png', class: "animate-text-focus-in" %>
</div>

<div class="hero h-96 text-white bg-header">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag 'icon.png', class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold">集まった謎を見に行こう</h1>
      <p class="py-4"> いろんな人が作った謎があるので </p>
      <p class="py-4"> お気に入りの謎を見つけてみよう </p>
        <%= link_to mysteries_path do %>
          <button class="btn bg-buttonColor text-white">謎を見に行く</button>
        <% end %>
    </div>
  </div>
</div>

<div class="hero min-h-screen bg-header text-white">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag 'icon.png', class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold">自作の謎を作ってみよう</h1>
      <p class="py-2"> 初めて作る方でもAIで簡単に作成ができます。</p>
      <p class="py-2"> 自分で作成した謎の投稿もできます </p>
      <p class="py-2"> ※作成・投稿にはログインが必要です</p>
      <% unless logged_in? %>
        <%# 未ログイン時の謎を作ってみるボタン追加 (新規登録に遷移) %>
        <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
          <button class="btn bg-buttonColor text-white">謎を作ってみる</br>(ゲストログイン)</button>
        <% end %>
      <% else %>
        <%= link_to new_mystery_path do %>
          <button class="btn bg-buttonColor text-white">謎を作ってみる</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="hero min-h-full bg-header text-white">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag 'icon.png', class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold">謎に回答しよう</h1>
      <p class="py-2"> 正解数に応じてポイントがもらえます </p>
      <p class="py-2"> めざせランキング1位。</p>
      <p class="py-2"> ※回答にはログインが必要です</p>
      <% unless logged_in? %>
        <%# 未ログイン時の謎に回答するボタン追加 (に遷移) %>
        <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
          <button class="btn bg-buttonColor text-white">謎を解いてみる</br>(ゲストログイン)</button>
        <% end %>
      <% else %>
        <%= link_to mysteries_path, data: {turbo_method: :post} do %>
          <button class="btn bg-buttonColor text-white">謎を解いてみる</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="hero min-h-screen" style="background-image: url( <%= asset_path 'topImage.png' %> );">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">謎解きを体験しよう</h1>
        <%= link_to auth_at_provider_path(provider: :google), class: 'text-center mx-auto my-5 mb-5' do %>
          <%= image_tag 'google_signin.png', class: 'mx-auto hover:opacity-50' %>
        <% end %>
        <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
          <button class="btn bg-buttonColor text-white my-6">ゲストログイン</button>
        <% end %>
    </div>
  </div>
</div>
