<%# マイページ画面 %>
<div class="hero min-h-screen bg-header">
  <div class="text-center w-full bg-opacity-60">
    <h1 class = "text-center text-3xl font-zen-old-mincho text-white mb-7">
      <%= t('users.show.title') %>
    </h1>
    <div class="items-center mb-5">
      <%= link_to mysteries_path do %>
        <button class="btn btn-sm mx-4 bg-editDeleteBtn text-buttonColor"> <%= t('helpers.link.back_index') %> </button>
      <% end %>
      <%= link_to edit_user_path(@user.id) do %>
        <button class="btn btn-sm bg-green-400 text-black"> <%= t('helpers.link.edit') %> </button>
      <% end %>
    </div>
    <div class="max-w-lg w-full rounded-lg mx-auto" style="background-image: url(<%= asset_path 'backColor.png' %>);">
      <div class="mx-auto">
        <div class = "mb-3 text-right">
          <% if current_user.avator.attached? %>
            <%= image_tag @user.avator, size: '300x300', class: "mx-auto rounded-full" %>
          <% else %>
            <%= image_tag 'avator.jpeg', size: '300x300', class: "mx-auto rounded-full" %>
          <% end %>
        </div>
        <%= render 'shared/modal' %>
        <% if current_user.guest? %>
          <h1 class="text-2xl text-correctText font-zen-old-mincho font-bold py-5">
            ゲストユーザー
          </h1>
        <% else %>
          <h1 class="text-2xl text-correctText font-zen-old-mincho font-bold py-5">
            <%= t("helpers.name") %>:
            <%= @user.name %>
          </h1>
          <h1 class="text-2xl text-correctText font-zen-old-mincho font-bold py-5">
            <%= t("helpers.email") %>:
            <%= @user.email %>
          </h1>   
        <% end %>
      </div>
    </div>
  </div>
</div>