<%# 未ログイン ヘッダー %>
<header class="py-6 text-white bg-header">
  <div class="container mx-auto flex justify-between items-center px-8 md:px-14 lg:px-24 w-full">
    <%= link_to root_path, class: "hover:opacity-50 text-3xl mr-4" do %>
      <%= image_tag 'logo.png', size: '200x200' %>
    <% end %>
    <div class="space-x-12 text-sm hidden md:flex items-center">
      <%= link_to 'ランキング', rankings_users_path, class: "hover:text-lime-500 transition-all duration-300" %>
      <%= link_to '謎一覧', mysteries_path, class: "hover:text-lime-500 transition-all duration-300" %>
      <%= link_to t('user_sessions.new.title'), login_path, class: "hover:text-lime-500 transition-all duration-300" %>
    </div>
    <%# 縮小でヘッダー文字を隠しアイコン表示 %>
    <div class="md:hidden">
      <div class="dropdown dropdown-bottom dropdown-end border-none">
        <div tabindex="0" role="button" class="btn bg-header border-none">
          <svg class="h-10 w-10 text-blue-500" role="button" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"/>
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li> <%= link_to 'ランキング', rankings_users_path, class: "text-header hover:text-lime-500 transition-all duration-300" %> </li>
          <li> <%= link_to '謎一覧', mysteries_path, class: "text-header hover:text-lime-500 transition-all duration-300" %> </li>
          <li> <%= link_to t('user_sessions.new.title'), login_path, class: "text-header hover:text-lime-500 transition-all duration-300" %> </li>
        </ul>
      </div>
    </div>
  </div>
</header>
