<header class="py-4 text-mainTextColor font-zen-old-mincho font-extrabold">
  <div class="container mx-auto flex justify-between items-center md:px-14 lg:px-10">
    <%= link_to "EnigmaPortals", root_path, class: "text-3xl mr-4" %>
    <div class="space-x-7 text-base hidden md:flex items-center">
      <%= link_to "ユーザーランキング", "#" , class: "hover:text-selected-text transition-all duration-300" %>
      <%= link_to "謎ランキング", "#" , class: "hover:text-selected-text transition-all duration-300" %>
      <% if logged_in? %>
        <%= link_to t('helpers.link.post'), new_mystery_path, class: "hover:text-selected-text transition-all duration-300" %>
        <%= link_to t('helpers.link.logout'), logout_path, class: "hover:text-selected-text transition-all duration-300", data: {turbo_method: :delete} %>
        <div class="avatar">
          <div class="w-20 rounded-full hover:cursor-pointer ml-12">
            <%= image_tag current_user.avator.variant(:avatorsize) %>
          </div>
        </div>
        <div class="md:hidden">
          <div class="avatar">
            <div class="w-16 rounded-full">
                <% if current_user.avator.attached? %>
                  <%= image_tag current_user.avator.variant(:avatorsize) %>
                <% else %>
                  <%= image_tag 'avator.jpeg' %>
                <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to t('user_sessions.new.title'), login_path %>
        <%= link_to t('users.new.title'), new_user_path %>
      <% end  %>
    </div>
  </div>
</header>


