<header class="py-4 text-white bg-header font-zen-old-mincho font-extrabold">
  <div class="container mx-auto flex justify-between items-center md:px-14 lg:px-10">
    <%= link_to root_path, class: "text-3xl mr-4" do %>
      <%= image_tag 'logo.png', size: '200x200' %>
    <% end %>
    <div class="space-x-7 text-base hidden md:flex items-center">
      <%= link_to 'ランキング', rankings_users_path, class: "hover:text-selected-text transition-all duration-300" %>
      <%= link_to '謎一覧', mysteries_path, class: "hover:text-selected-text transition-all duration-300" %>
      <% if logged_in? %>
        <%= link_to t('helpers.link.post'), new_mystery_path, class: "hover:text-selected-text transition-all duration-300" %>
        
        <%# ユーザーアイコン ホバーでメニュー表示 %>
        <div class="dropdown dropdown-hover">
          <div class="avatar">
            <div class="w-20 rounded-full hover:cursor-pointer ml-12 dropdown dropdown-hover ">
              <% if current_user.avator.attached? %>
                <%= image_tag current_user.avator%>
              <% else %>
                <%= image_tag 'avator.jpeg' %>
              <% end %>
          </div>
        </div>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li> <%= link_to t('users.show.title'), user_path(current_user.id), class: "hover:text-selected-text transition-all duration-300" %> </li>
          <li> <%= link_to t('helpers.link.bookmarks'), bookmarks_mysteries_path, class: "hover:text-selected-text transition-all duration-300" %> </li>
          <li> <%= link_to t('helpers.link.logout'), logout_path, class: "hover:text-selected-text transition-all duration-300", data: {turbo_method: :delete} %> </li>
        </ul>

      <%# 縮小時のアイコン表示 %>
        <div class="md:hidden">
          <div class="avatar">
            <div class="w-16 rounded-full">
                <% if current_user.avator.attached? %>
                  <%= image_tag current_user.avator%>
                <% else %>
                  <%= image_tag 'avator.jpeg' %>
                <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to t('user_sessions.new.title'), login_path %>
        <%= link_to t('users.new.title'), new_user_path %>
      <% end  %>
    </div>
  </div>
</header>



