<%= turbo_stream.append 'content_body' do %>
  <dialog id="my_modal_4" class="modal rounded-lg">
    <div class="modal-box w-1/2 max-w-5xl">
      <% if @correct %>
      <%# 不正解時の処理 %>
        <h1 class="font-bold text-lg">正解です！！</h1>
        <%= image_tag 'correct.webp', size: '400x400', class: 'mx-auto rounded-lg' %>
        <h2 class="py-4">1Ptゲット！</h2>
        <%= turbo_stream.replace 'answer_form' do %>
          <%# 答えを表示 %>
          <h1 class="text-2xl font-bold py-5">
            <%= @mystery.correct_answer %>
          </h1>
        <% end %>
        <%# 解答ボタンを削除 %>
        <%= turbo_stream.remove 'answer_button' %>
      <% else %>
      <%# 不正解時の処理 %>
        <h1 class="font-bold text-lg">不正解です！！</h1>
        <%= image_tag 'incorrect.webp', size: '400x400', class: 'mx-auto rounded-lg' %>
        <h2 class="py-4">もう一度考えてみましょう！</h2>
      <% end %>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
  <script>
    document.getElementById('my_modal_4').showModal();  // ページロード時にモーダルを表示
  </script>
<% end %>

