<%= form_with model: @mystery, url: mysteries_path  , data: { controller: "modal" }, class: "flex flex-col text-mainTextColor" do |f| %>
  <%= render "/shared/error_messages", model: f.object %>
  <div class="badge badge-warning text-header font-bold gap-2 my-1">
    <%= f.label :title %> (必須)
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
      <%= f.text_field :title, placeholder: "謎のタイトル", class: "grow" %>
  </div>
  <div class="badge badge-warning text-header font-bold gap-2 my-1">
    <%= f.label :genre %> (必須)
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.collection_select :genre_id, @genres, :id, :name, prompt: 'ジャンルを選択してください'%>
  </div>
  <div class="badge badge-warning text-header font-bold gap-2 my-1">
    <%= f.label :image %> (必須)
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.file_field :image, placeholder: "謎の画像を投稿", class: "grow" %>
  </div>
  <div class="badge badge-warning text-header font-bold gap-2 my-1">
    <%= f.label :content %> (必須)
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.text_field :content, placeholder: "謎の内容 (例: オリジナルで作成した謎です)", class: "grow" %>
  </div>
  <div class="badge badge-warning text-header font-bold gap-2 my-1">
    <%= f.label :correct_answer %> (必須)
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.text_field :correct_answer, placeholder: "謎の答え: (例:りんご)", class: "grow" %>
  </div>
  <button class="btn bg-buttonColor text-white my-6" id = "submitButton">
    <%= f.submit @mystery.new_record? ? t('helpers.submit.create') : t('helpers.submit.update') %>
    <%# 新規登録ならcreate訳文 編集ならupdate訳文を使用する %>
  </button>
</div>
<% end %>