<h1 class = "text-center text-3xl font-zen-old-mincho text-mainTextColor mb-7">
  <%= t('mysteries.new.title') %>
</h1>
<%= form_with model: @mystery, local: true, multipart: true, class: "flex flex-col text-mainTextColor" do |f| %>
  <%= render "/shared/error_messages", model: f.object %>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.text_field :title, placeholder: "謎のタイトル", class: "grow" %>
  </div>

  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.file_field :image, placeholder: "謎の画像を投稿", class: "grow" %>
  </div>

  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.text_field :content, placeholder: "謎の内容", class: "grow" %>
  </div>
  <div class="mb-4 input input-bordered flex items-center gap-2">
    <%= f.text_field :correct_answer, placeholder: "謎の答え", class: "grow" %>
  </div>

  <button class="btn py-1 bg-white text-mainTextColor text-center w-1/5 mx-auto">
    <%= f.submit @mystery.new_record? ? t('helpers.submit.create') : t('helpers.submit.update') %>
    <%# 新規登録ならcreate訳文 編集ならupdate訳文を使用する %>
  </button>
<% end %>
