<div class="rounded text-mainTextColor bg-white border-solid border-2 border-white rounded-lg drop-shadow-xl py-2 my-8"> 
  <div class = "mx-auto px-3">
    <h1 class="text-2xl font-zen-old-mincho font-bold py-5">
      <%= t("helpers.title") %>:
      <%= link_to mystery.title, mystery_path(mystery), class: "underline" %>
    </h1>
    <h1 class="text-2xl font-bold py-5">
      <%= t("helpers.genre") %>:
      <%= mystery.genre.name %>
    </h1>
    <h1 class="text-2xl font-bold underline py-5">
      <% if mystery.image.attached? %>
        <%= image_tag mystery.image, size: '300x300', class: "mx-auto rounded-lg" %>
      <% else %>
        <%= image_tag 'interrogation.webp', size: "300x300", class: "mx-auto rounded-lg" %>
      <% end %>
    </h1>     
  </div>    
</div>
