<div class="hero min-h-screen bg-header ">
  <div class="hero-content text-center w-full bg-opacity-60">
    <div class="w-full md:mx-44 mx-auto animate-text-focus-in">
      <div class="flex justify-between">
        <%= link_to :back do %>
          <button class="btn btn-sm mx-4 bg-editDeleteBtn text-buttonText"> <%= t('helpers.link.back') %> </button>
        <% end %>
        <div>
          <button id="ai_generate_button" class="hidden btn btn-sm bg-editDeleteBtn text-buttonText">AIでつくる</button>
          <button id="image_post_button" class="btn btn btn-sm bg-editDeleteBtn text-buttonText">自分でつくる</button>
        </div>
      </div>
      <div class="mx-auto" data-controller="modal">
        <div id="ai_generate_form">
          <%= render 'aigenerate_form', mystery: @mystery %>
        </div>
        <div id="image_post_form" class="hidden">
          <%= render 'form', mystery: @mystery %>
        </div>
        <%= render 'shared/modal' %>
      </div>
    </div>
  </div>
</div>