<div class = "w-1/2 mx-auto">
  <div class="bg-mainContentColor shadow-xl rounded px-7 py-5 pb-12 my-20">
    <div class = "flex place-content-end">
      <%= link_to t('helpers.link.back'), mysteries_path %>
    </div>

    <div class = "mx-auto px-3">
      <h1 class = "text-center text-3xl font-zen-old-mincho text-mainTextColor mb-7">
        <%= t('mysteries.show.title') %>
      </h1>
      <h1 class="text-2xl font-zen-old-mincho font-bold py-5">
        <%= t("helpers.genre") %>:
        <%= @mystery.title %>
      </h1>
      <h1 class="text-2xl font-bold py-5">
        <%= t("helpers.content") %>:
        <%= @mystery.content %>
      </h1>    
      <h1 class="text-2xl font-bold underline py-5">
        <%= image_tag @mystery.image, size: '300x300', class: "mx-auto rounded-lg" %>
      </h1>         
      <%= form_with model:[@mystery, @answer], local: true do |f| %>
        <h1 class="text-2xl font-bold py-5">
          <%= t("helpers.correct_answer") %>:
          <div class="mb-4 input input-bordered flex items-center gap-2">
            <%= f.text_field :response, placeholder: "ひらがなで入力", class: "grow" %>
          </div>
        </h1>
        <% if logged_in? %>
          <button class="btn py-1 bg-white text-mainTextColor text-center w-1/5 mx-auto">
            回答
          </button>

          <% if current_user.own?(@mystery) %>
            <%= link_to t('helpers.link.edit'), edit_mystery_path(@mystery) %>
            <%= link_to t('helpers.link.delete'), mystery_path(@mystery), data: { turbo_method: :delete } %>
          <% end %>
        <% else %>
          <button class="btn py-1 bg-white text-mainTextColor text-center w-1/5 mx-auto" disabled>
            ログインすると</br>回答できます
          </button>
        <% end %>
      <% end %> 
    </div>
    <div class = "mx-auto py-5">
      <%= link_to "https://twitter.com/share?url=#{mystery_url(@mystery)}/&text=謎を解いてみて！" do %>
        <p><i class="fa-brands fa-twitter" style='color: #3399FF;'></i>Twitterにシェア</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
