<div class = "w-1/2 mx-auto">
  <div class="bg-mainContentColor shadow-xl rounded px-7 py-5 pb-12 my-20">
    <div class = "flex place-content-end">
      <%= link_to t('helpers.link.back'), mysteries_path %>
    </div>
    <div class = "mx-auto px-3">
      <div id = "content_body">
        <h1 class = "text-center text-3xl font-zen-old-mincho text-mainTextColor mb-7">
          <%= t('mysteries.show.title') %>
        </h1>
        <h1 class="text-2xl font-zen-old-mincho font-bold py-5">
          <%= t("helpers.title") %>:
          <%= @mystery.title %>
        </h1>
        <h1 class="text-2xl font-zen-old-mincho font-bold py-5">
          <%= t("helpers.genre") %>:
          <%= @mystery.genre.name %>
        </h1>
        <h1 class="text-2xl font-bold py-5">
          <%= t("helpers.content") %>:
          <%= @mystery.content %>
        </h1>    
        <h1 class="text-2xl font-bold underline py-5">
          <%= image_tag @mystery.image, size: '300x300', class: "mx-auto rounded-lg" %>
        </h1>
      </div>
      <% if logged_in? %>
        <%# 編集・削除リンク %>
        <%= render 'currentuser_action', mystery: @mystery %>
        <%= render 'answer_form', mystery: @mystery, answer: @answer %>
      <% else %>
        <%= render 'answer_button'%>
      <% end %>
    </div>
    <div class = "mx-auto py-5">
      <%= link_to "https://twitter.com/share?url=#{mystery_url(@mystery)}/&text=謎を解いてみて！" do %>
        <p><i class="fa-brands fa-twitter" style='color: #3399FF;'></i>Twitterにシェア</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
