<div class = "w-1/2 mx-auto">
  <div class="bg-mainContentColor shadow-xl rounded px-7 py-5 pb-12 my-20">
    <div class = "flex place-content-end">
      <%= link_to t('helpers.link.back'), mysteries_path %>
    </div>

    <div class = "mx-auto px-3">
      <h1 class = "text-center text-3xl font-zen-old-mincho text-mainTextColor mb-7">
        <%= t('mysteries.show.title') %>
      </h1>
      <h1 class="text-2xl font-zen-old-mincho font-bold py-5">
        <%= @mystery.title %>
      </h1>

      <h1 class="text-2xl font-bold py-5">
        <%= t("helpers.content") %>:
        <%= @mystery.content %>
      </h1>    
      <h1 class="text-2xl font-bold underline py-5">
        <%= image_tag @mystery.image, size: '300x300', class: "mx-auto rounded-lg" %>
      </h1>         
      <%= form_with url: "#", local: true do |f| %>
        <h1 class="text-2xl font-bold py-5">
          <%= t("helpers.correct_answer") %>:
          <div class="mb-4 input input-bordered flex items-center gap-2">
            <%= f.text_field :correct_answer, placeholder: "謎の答え", class: "grow" %>
          </div>
        </h1>
        <button class="btn py-1 bg-white text-mainTextColor text-center w-1/5 mx-auto">
          回答
          <%# 新規登録ならcreate訳文 編集ならupdate訳文を使用する %>
        </button>
      <% end %> 
    </div>

    </div>
  </div>
</div>












