<!DOCTYPE html>
<html>
  <head>
    <title>EnigmaPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag "interrogation.webp" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap" rel="stylesheet">
  <!-- Google Analytics (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LFXGCPK15H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-LFXGCPK15H');
    </script>
  <!-- /Google Analytics (gtag.js) -->
  </head>
  <body class="flex flex-col min-h-screen bg-bodyColor" data-user-id="<%= current_user&.id %>">
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="flex-grow bg-body">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
  </body>
</html>



 